p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  background-color: var(--hero-color);
}

.link {
  text-decoration: none;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

:root {
  --first-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --first-logo-color: #000000;
  --second-logo-color: #ffffff;
  --accent-color: #2196f3;
  --hero-color: #ffffff;
  --main-title-color: #212121;
  --second-title-color: #212121;
  --footer-color: #2f303a;
  --galery-color: #f5f4fa;
  --links-color: rgba(255, 255, 255, 0.6);
  --function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header-navigation,
.header-list, .header-item > .link, .soft-list, .soft-link, .about-list,
.about-item, .about-item-text, .galery-list, .clients-item, .footer, .footer-social-link, .team-social-link {
  display: flex;
  align-items: center;
}

.soft-title, .soft-after-title, .about-item-text, .footer-text, .footer-link {
  font-size: 14px;
  letter-spacing: 0.03em;
}

.header-link, .header-link-style {
  font-size: 14px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
}

.galery-text, .galery-eng-text, .galery-title {
  text-align: center;
  letter-spacing: 0.03em;
}

.hero-btn, .footer-btn {
  cursor: pointer;
  letter-spacing: 0.06em;
  align-items: center;
  line-height: 1.87;
  font-weight: 700;
  color: var(--third-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-btn, .button {
  font-family: inherit;
  font-size: 16px;
  border: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-logo {
  color: var(--accent-color);
}

.header-link {
  color: var(--first-text-color);
  transition: color var(--duration) linear;
  position: relative;
}

.header-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  position: absolute;
}

.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

.header-link-style {
  color: var(--second-text-color);
}

.current {
  color: var(--accent-color);
}

.header-navigation,
.header-list {
  flex-wrap: wrap;
}

.header-item > .link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-list > .header-item:not(:last-child) {
  margin-right: 50px;
}

.envelope, .smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.envelope {
  width: 16px;
  height: 12px;
}

.hero {
  background-color: var(--footer-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/backgroung-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;
  padding: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
}

.soft-title-text {
  width: 696px;
  margin: 0 auto 30px;
  padding: 0;
  color: var(--hero-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.soft-title {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.soft-after-title {
  line-height: 1.71;
  color: var(--second-text-color);
}

.soft-list {
  text-align: left;
}

.soft-list > .item {
  width: 270px;
}

.soft-list > .soft-pre-title:not(:last-child) {
  margin-right: 30px;
}

.items {
  text-align: center;
}

.items > .header-item:not(:last-child) {
  margin-right: 50px;
}

.items > .portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.items > .portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.soft-link {
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about {
  padding-top: 0;
}

.about-title {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.about-list,
.about-item {
  text-align: left;
}

.about-list > .about-item:not(:last-child) {
  margin-right: 30px;
}

.about-item-text {
  justify-content: center;
  width: 100%;
  height: 70px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--third-text-color);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  line-height: 1.71;
}

.galery {
  background-color: var(--galery-color);
}

.galery-list {
  text-align: left;
}

.galery-list > .galery-item:not(:last-child) {
  margin-right: 30px;
}

.galery-style {
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.galery-text {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--main-title-color);
}

.galery-eng-text {
  font-size: 16px;
  line-height: 1.18;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.galery-title {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--second-title-color);
}

.clients {
  display: flex;
  justify-content: center;
}

.clients-list {
  margin-right: 30px;
}

.clients-list + .clients-list {
  margin-right: 30px;
}

.clients-title {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.clients-item {
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color var(--duration) linear, border var(--duration) linear;
}

.clients-item:hover, .clients-item:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: var(--footer-color);
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
  display: block;
}

.footer-navigation {
  margin-right: 70px;
}

.footer-navigation > .link.logo.footer-logo {
  padding: 0;
  margin: 0 0 20px 0;
}

.footer-link {
  font-style: normal;
  font-weight: 400;
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 0;
  line-height: 1.7;
  color: var(--links-color);
}

.footer-address-color {
  padding: 0;
  margin-bottom: 9px;
  color: var(--third-text-color);
}

.footer-social-icons {
  padding-top: 12px;
  margin-right: 93px;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration) linear, fill var(--duration) linear;
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-icons {
  fill: var(--third-text-color);
  color: var(--hero-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-modal {
  margin-right: 12px;
}

.footer-modal-text {
  width: 358px;
  height: 50px;
  margin-right: 8px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--links-color);
  background-color: var(--footer-color);
  resize: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.input-footer-icon {
  fill: var(--second-logo-color);
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  transition: background-color var(--duration) linear, fill var(--duration) linear;
}

.team-social-link:hover, .team-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--second-logo-color);
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.team-social-icon {
  fill: #afb1b8;
}

.team-social-icon:hover, .team-social-icon:focus {
  fill: var(--second-logo-color);
}

.container {
  width: 1600px;
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.container .header-navigation {
  min-height: 80px;
}

.container .header-navigation > .container .header-navigation {
  margin-right: auto;
}

.container > .hero-btn {
  margin: inherit;
}

.container > .footer-btn {
  display: flex;
}

.container > .link.logo {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.hero-btn {
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  display: flex;
  text-align: center;
  transition: color var(--duration) linear;
}

.hero-btn:active {
  color: var(--links-color);
}

.footer-btn {
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
  justify-content: center;
  display: inline-flex;
  min-width: 200px;
  min-height: 50px;
  padding-top: 10px;
  padding-right: 29px;
  padding-bottom: 10px;
  padding-left: 29px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition-property: color, background-color, box-shadow;
}

.button {
  letter-spacing: 0.03em;
  min-height: 38px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-style: inherit;
  font-weight: 500;
  line-height: 1.62;
  box-shadow: none;
}

.contacts {
  color: var(--second-text-color);
  transition: color var(--duration) linear;
}

.contacts:active, .contacts:hover, .contacts:focus {
  color: var(--accent-color);
}

.logo {
  display: block;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-logo-color);
}

.footer-logo {
  color: var(--second-logo-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.section .hero {
  padding-top: 200px;
  padding-bottom: 200px;
  border: 1px solid transparent;
}

.section-nopaddingtop {
  padding-top: 0;
}

.images {
  display: block;
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */