/*-------Хедер------/


/*-------Герой------/


/*-------СофтСкилс-------*/


/*-------Эбаут-------*/


/*-------ТимГелери-------*/


/*-------Портфолио-------*/

.portfolio {
  background-color: var(--hero-color);
}
.portfolio-item {
  background-color: var(--hero-color);
}
.portfolio-item:hover .portfolio-card-text {
  transform: translateY(0);
}
.cadr-overflow {
  position: relative;
  overflow: hidden;
}
.portfolio-card-text {
  position: absolute;
  font-style: normal;
  font-weight: normal;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  text-align: left;
  background-color: rgba(33, 150, 243, 0.9);;
  color: var(--third-text-color);
  transform: translateY(100%);
  transition: transform var(--duration);
  overflow: auto;
}
.card-body {
  padding-top: 30px;
  padding-bottom: 30px;
}
.portfolio-card .card-body {
  border: 1px solid #eeeeee;
  border-top: 1px solid transparent;
  padding: 20px 24px;
  text-align: left;
  transition: box-shadow var(--duration) linear;
}
.header-list > .portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-card:hover {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.portfolio-btn {
  cursor: pointer;
  min-height: 38px;
  font-weight: 500;
  font-family: inherit;
  font-style: inherit;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  align-items: center;
  border: none;
  padding-right: 22px;
  padding-left: 22px;
  display: flex;
  border-radius: 4px;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  transition: color var(--duration) linear, background-color var(--duration) linear, box-shadow var(--duration) linear;
}
.portfolio-li {
  margin-right: 8px;
}
.current-btn,
.portfolio-btn:active,
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}
.portfolio-after-titles {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
/*-------Клиэнтс-------*/


/*-------Футер-------*/


/*-------Модалка-------*/

