.hero-btn {
  @extend %btn;
  @extend %btn-min;
  @include padding(10px, 32px, 10px, 32px);
  display: flex;
  text-align: center;
  transition: color var(--duration) linear;
  &:active {
    color: var(--links-color);
  }
}
.footer-btn {
  @extend %btn;
  transition-duration: var(--duration);
  transition-timing-function: var(--function);
  justify-content: center;
  display: inline-flex;
  min-width: 200px;
  min-height: 50px;
  @include padding(10px, 29px, 10px, 29px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition-property: color, background-color, box-shadow;
}
.button {
  @extend %btn-min;
  letter-spacing: 0.03em;
  min-height: 38px;
  @include padding(6px, 22px, 6px, 22px);
  font-style: inherit;
  font-weight: 500;
  line-height: 1.62;
  box-shadow: none;
}