.container {
  width: 1600px;
  @include padding(0px, 15px, 0px, 15px);
  @include margin(0px, auto, 0px, auto)
  .header-navigation {
    min-height: 80px;
    & > & {
      margin-right: auto;
    }
  }
  & > .hero-btn {
    margin: inherit;
  }

  & > .footer-btn{
    display: flex;
  }
  & > .link.logo {
    @include padding(0px, 0px, 0px, 0px);
    @include margin(0px, 0px, 20px, 0px);
  }
}
