.galery {
  background-color: var(--galery-color);
}
.galery-list {
  @extend %align-list;
  text-align: left;
  & > .galery-item:not(:last-child) {
    margin-right: 30px;
  }
}
.galery-style {
  background-color: var(--third-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.galery-text {
  margin: 0 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  @extend %align-spacing;
  color: var(--main-title-color);
}
.galery-eng-text {
  font-size: 16px;
  line-height: 1.18;
  @extend %align-spacing;
  color: var(--second-text-color);
  margin-bottom: 16px;
}
.galery-title {
  margin: 0 0 50px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  @extend %align-spacing;
  color: var(--second-title-color);
}
