
.header {
  border-bottom: 1px solid #ececec;
}
.header-logo {
  color: var(--accent-color);
}
.header-link {
  @extend %font-min;
  color: var(--first-text-color);
  transition: color var(--duration) linear;
  position: relative;
  &.current::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: 0;
    position: absolute;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.header-link-style {
  @extend %font-min;
  color: var(--second-text-color);
}
.current {
  color: var(--accent-color);
}
.header-navigation,
.header-list {
  @extend %align-list;
  flex-wrap: wrap;
}
.header-item > .link {
  @extend %align-list;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-list > .header-item:not(:last-child) {
  margin-right: 50px;
}
.envelope, .smartphone {
  margin-right: 10px;
  fill: currentColor;
}
.smartphone {
  width: 10px;
  height: 16px;
}
.envelope {
  width: 16px;
  height: 12px; 
}